/*---------------------------------------/
    button
/---------------------------------------*/
.btn{display:inline-flex;justify-content:center;align-items:center}
button.btn{vertical-align:top}
.btn.primary{background-color:#eb008b;color:#fff}
.btn.secondary{background-color:#fff;color:#eb008b;border:solid 1px #eb008b}
.btn.teritary{background-color:#eb008b;color:#fff}
.btn.teritary.lg,
.btn.teritary.md{border-radius:4px}
.btn.lg{height:48px;padding:0 16px;border-radius:24px;min-width:212px;font-size:14px;min-width:0}
.btn.md{height:40px;padding:0 16px;border-radius:20px;font-size:13px;line-height:20px}
.btn.arrow{min-width:0}
.btn.arrow::after{content:'';display:inline-block;width:7px;height:7px;border-top:solid 1px #fff;border-right:solid 1px #fff;transform:rotate(45deg);margin-left:6px}
.btn.arrow.secondary::after{border-color:#eb008b}
.btn.fixed{width:444px}
.btn.primary:hover{background-color:#ef3484}
.btn.secondary:hover{border-color:#ef3484;color:#ef3484}
.btn.teritary:hover{background-color:#ef3484}
.btn.primary:disabled,
.btn.primary.disabled{background-color:#f5f5f5;color:#aeaeb2;outline:0;opacity:1}
.btn.secondary:disabled,
.btn.secondary.disabled{background-color:#fff;color:#aeaeb2;border-color:#bfbfbf;outline:0;opacity:1}
.btn.teritary:disabled,
.btn.teritary.disabled{background-color:#f5f5f5;color:#aeaeb2;outline:0;opacity:1}
.btn.arrow.disabled::after{border-color:#aeaeb2}
.btn.blankline{border:solid 1px #1a1d1d;background-color:#fff;color:#1a1d1d;font-weight:500}
.btn.blankline:hover{background-color:#fff;border-color:#ef3484;color:#ef3484}
/*---------------------------------------/
    input
/---------------------------------------*/
.input-txt{position:relative;display:inline-flex;flex-wrap:wrap;flex-direction:column;text-align:left}
.input-txt input{height:48px;border:solid 1px #b2b2b2;border-radius:4px;font-size:14px;color:#1a1d1d;padding:0 16px;width:100%}
.input-txt.sm input{height:40px}
.input-txt input::placeholder{color:#aeaeb2}
.input-txt input:hover,
.input-txt input:focus{border-color:#7f7f7f;outline:0}
.input-txt input:read-only{background-color:#f3f3f3;color:#999}
.input-txt.error input{border-color:#dc354a}
.input-txt.error .msg{font-size:11px;color:#dc354a}
.input-txt.datepicker input{text-align:right;background:#fff url(../images/ico_cal.png) 16px 50% no-repeat}
/*---------------------------------------/
    radio / checkbox
/---------------------------------------*/
.radio{position:relative;display:inline-block}
.radio + .radio{margin-left:20px}
.radio label{padding-left:26px;font-size:14px;color:#16171d}
.radio .ico{position:absolute;left:0;top:0;border:solid 2px #8e8e93;width:20px;height:20px;border-radius:10px}
.radio input:checked + label .ico{border-color:#eb008b}
.radio input + label .ico::before{content:'';position:absolute;left:3px;top:3px;width:10px;height:10px;background-color:#eb008b;border-radius:5px;opacity:0;transform:scale(.5);transition:all .2s}
.radio input:checked + label .ico::before{opacity:1;transform:scale(1)}
.checkbox-group{display:inline-block}
.checkbox{position:relative;display:inline-block}
.checkbox + .checkbox{margin-left:20px}
.checkbox label{padding-left:26px;font-size:14px;color:#16171d}
.checkbox .ico{position:absolute;left:0;top:0;border:solid 2px #d9d9d9;width:20px;height:20px;border-radius:10px;background-color:#fff;transition:all .2s}
.checkbox input + label .ico::before{content:'';position:absolute;left:3px;top:4px;width:10px;height:6px;border-left:solid 2px #d9d9d9;border-bottom:solid 2px #d9d9d9;transform:rotate(-45deg)}
.checkbox input:checked + label .ico{border-color:#eb008b;background-color:#eb008b}
.checkbox input:checked + label .ico::before{border-color:#fff}
/*---------------------------------------/
    select
/---------------------------------------*/
.select-box {
    position: relative;
    display: inline-block;
    min-width: 120px;
    height: 48px;
}
.select-box.sm{height:40px}
.select-box .select {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.select-box .select-btn {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    padding:0 56px 0 16px;
    background-color: #fff;
	border:solid 1px #b2b2b2;
    border-radius: 4px;
    font-size:14px;
}
.select-box .select-btn:disabled {
    background:#f3f3f3;
    color:#6a747d;
    cursor:unset;
}
.select-box.active .select-btn {
	border-color: #7f7f7f;
}
.select-box .select-btn:focus {
	outline:0;
}
.select-box .select-btn:after {
    content: '';
    position: absolute;
    top:50%;
    right: 16px;
    width: 7px;
    height: 7px;
    border-left: 1px solid #1a1d1d;
    border-bottom: 1px solid #1a1d1d;
    transform: translateY(-50%) rotate(-45deg);
	transition: all .2s;
}
.select-box.active .select-btn:after {
	transform: translateY(-50%) rotate(135deg);
}
.select-box.on .select-btn:after {
    transform: translateY(-50%) rotate(135deg);
}
.select-box .select-layer {
    display: none;
    overflow: auto;
    position: absolute;
    top:48px;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 193px;
    border: 1px solid #e5e5e5;
    background: #fff;
    box-shadow:0px 3px 48px rgba(52, 56, 65, 0.1), inset 0px 66px 110px rgba(255, 255, 255, 0.08), inset 0px 28px 31px rgba(255, 255, 255, 0.14);
    border-radius: 4px;
}
.select-box.sm .select-layer {max-height: 161px}

.select-box .select-layer::-webkit-scrollbar {
    width: 8px; 
}
.select-box .select-layer::-webkit-scrollbar-thumb {
    height: 30%;
    background: #aeaeb2;
    border-radius: 4px;
    border:solid 2px #fff;
}
.select-box .select-layer::-webkit-scrollbar-thumb:hover{background:#999}
.select-box .select-layer::-webkit-scrollbar-track {
    background: transparent;
}

.select-box.sm .select-layer{top:40px}
.select-box .select-layer .option {
    display: block;
    width: 100%;
    padding:11px 15px 12px;
    font-size:14px;
    line-height: 24px;
    text-align: left;
}
.select-box.sm .select-layer .option{padding:7px 15px 8px}
.select-box .select-layer .option.on,
.select-box .select-layer .option:hover,
.select-box .select-layer .option:focus {
    background: #f5f5f5;
    outline:none;
}		
.select-box .select-layer .option + .option{border-top:solid 1px #e5e5e5}
/*---------------------------------------/
    table
/---------------------------------------*/
.tb_stl1{border-top:solid 2px #1a1d1d}
.tb_stl1 table{width:100%}
.tb_stl1 th{background-color:#f5f5f5;text-align:left;font-size:16px;color:#1a1d1d;line-height:26px;padding:32px;border-bottom:solid 1px #e5e5e5}
.tb_stl1 td{line-height:48px;padding:20px 32px;border-bottom:solid 1px #e5e5e5;font-size:16px;color:#1a1d1d}
.tb_stl1 .phone .input-txt{display:inline-flex;width:184px}
.tb_stl1 .phone .bar{display:inline-flex;width:22px;justify-content:center;margin:0 -3px;font-size:18px}
.tb_stl1 .email .input-txt{display:inline-flex;width:282px}
.tb_stl1 .email .bar{display:inline-flex;width:32px;justify-content:center;margin:0 -3px;font-size:18px}
.tb_stl2{border-top:solid 2px #1a1d1d}
.tb_stl2 table{width:100%}
.tb_stl2 th{background-color:#f5f5f5;font-size:17px;font-weight:700;line-height:26px;padding:27px 16px;border-bottom:solid 1px #e5e5e5}
.tb_stl2 th + th{border-left:solid 1px #e5e5e5}
.tb_stl2 td{line-height:22px;font-size:15px;color:#636366;text-align:center;padding:21px 16px;border-bottom:solid 1px #e5e5e5}
.tb_stl2 td + td{border-left:solid 1px #e5e5e5}
.tb_stl2 .nodata{height:300px;vertical-align:middle}
/*---------------------------------------/
    pagination
/---------------------------------------*/
.pagination {margin-top: 60px; text-align: center; font-size: 0;}
.pagination strong,
.pagination a {display: inline-block; width: 48px; height: 48px; margin: 0 2px; vertical-align: top; line-height: 44px; font-size: 16px; color:#636366}
.pagination a:hover {text-decoration: none; color:#ef3484}
.pagination strong {color: #eb008b; font-weight: normal; text-decoration:underline; font-weight:700}
.pagination a[class^="ico"]{position:relative;margin: 0 4px;border:solid 1px #e5e5e5;border-radius:4px;transition:border .2s}
.pagination a[class^="ico"]:hover{border-color:#ef3484}
.pagination a[class^="ico"]::before {content:'';display:inline-block;width:14px;height:14px;background: url(../images/sp_page.png) 0 0 no-repeat;vertical-align:middle}
.pagination a.ico-first::before {background-position: 0 0}
.pagination a.ico-prev::before {background-position: -20px 0}
.pagination a.ico-next::before {background-position: -40px 0}
.pagination a.ico-last::before {background-position: -60px 0}
/*---------------------------------------/
    modal
/---------------------------------------*/
h4.modal-title{font-size:24px;color:#1a1d1d;font-weight:500;padding-bottom:0}
.modal-backdrop.show{opacity:.7}
.modal-content{border-radius:16px}
.modal-header{padding:22px 32px;line-height:36px;border-bottom:0;background-color:#f5f5f5;border-top-left-radius:16px;border-top-right-radius:16px}
.modal-body{padding:56px 0 0}
.modal-footer{justify-content:center;padding:0 0 56px;border-top:0}
.modal-footer .btn{margin-top:32px}
.modal-header .btn-close{position:relative;opacity:1;width:30px;height:30px;padding:0;margin:0;background:none}
.modal-header .btn-close::before{content:'';position:absolute;left:0;top:14px;width:30px;height:2px;background-color:#1a1d1d;transform:rotate(45deg)}
.modal-header .btn-close::after{content:'';position:absolute;left:0;top:14px;width:30px;height:2px;background-color:#1a1d1d;transform:rotate(-45deg)}
/*---------------------------------------/
    form group
/---------------------------------------*/
.search-box{position:relative;background-color:#f5f5f5;padding:40px}
.search-box th{text-align:left;font-size:14px;color:#1a1d1d;line-height:20px;font-weight:500}
.search-box th span{display:inline-block;padding:10px 0}
.search-box th span::before{content:'';display:inline-block;width:4px;height:4px;background-color:#1a1d1d;vertical-align:3px;margin-right:8px;border-radius:2px}
.search-box .aside{position:absolute;right:40px;bottom:40px}
.search-box tr + tr th,
.search-box tr + tr td{padding-top:12px}
.search-box td{display:flex;align-items:center}
.search-box .bar{display:inline-block;width:25px;text-align:center;font-size:24px;height:40px;line-height:38px}
/*---------------------------------------/
    footer
/---------------------------------------*/
#footer {
    padding: 48px 0;
    background: #2a2d3e;
}
#footer .foot {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}
.foot .footer-logo{
    width: 135px;
    height: 37px;
    background:url(../images/footer_logo.png) no-repeat;
    text-indent:-999em;
}
.footer-menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
}
.footer-menu > ul {
    display: flex;
    align-items: center;
}
.footer-menu > ul li {
    position: relative;
    margin-left: 19px;
    padding-left: 20px;
}
.footer-menu > ul li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 20px;
    margin-top:-10px;
    background-color:#aeaeb2;
    opacity:.4;
}
.footer-menu > ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}
.footer-menu > ul li:first-child:before {
    display: none;
}
.footer-menu > ul li a {
    display: block;
    color:#fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}

.footer-link {
    position: relative;
    margin-left: auto;
    padding-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.family-site {
    position: relative;
    width: 254px;
    border: 1px solid #aeaeb2;
    border-radius: 6px;
}
.family-site .btn-toggle {
    position: relative;
    display: block;
    padding: 12px 48px 12px 20px;
    font-size: 16px;
    color:#aeaeb2;
}
.family-site .btn-toggle:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background: url(../images/ico_up.png) center center no-repeat;
    background-size: 16px 16px;
}
.family-site .btn-toggle.on:after {
    transform: rotateZ(-180deg)
}
.family-site ul {
    display: none;
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: 47px;
    background-color: #fafafa;
    border: 1px solid #aeaeb2;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}
.family-site ul li a {
    display: block;
    padding: 12px 20px;
    font-size: 16px;
}
.footer-link .sns-share {
    display: flex;
    margin-top: 84px;
}
.footer-link .sns-share li + li{margin-left:28px}
.footer-link .sns-share a {
    display: block;
    width: 40px;
    height: 40px;
}
.footer-link .sns-share .sns-youtube {
    background: url(../images/ico_youtube.png) center center no-repeat;
}
.footer-link .sns-share .sns-blog {
    background: url(../images/ico_blog.png) center center no-repeat;
}
.foot-info {
    position: absolute;
    top: 119px;
    left: 0;
    max-width: 783px;
}
.foot-info .cp-info {
    display: flex;
    flex-wrap: wrap;
}
.foot-info .cp-info li {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #aeaeb2;
    line-height: 25px;
}
.foot-info .cp-info li:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 16px;
    margin-top: -8px;
    background-color:#aeaeb2;
}
.foot-info .cp-info li:last-child:after {
    display: none;
}
.foot-info .copyright {
    margin-top:40px;
    font-size: 14px;
    color: #aeaeb2;
    line-height: 20px;
}
/*---------------------------------------/
    header
/---------------------------------------*/
.header-util{height:52px;background-color:#2a2d3e}
.header-util .util{width:1440px;height:100%;margin:0 auto;display:flex;justify-content:flex-end;align-items:center;font-size:13px;color:#fff}
.header-util .util li + li::before{content:'';display:inline-block;width:1px;height:10px;background-color:#b2b2b2;margin:0 12px}
.header-util .util a{font-size:13px}
.header-util .badge{display:inline-block;font-size:11px;color:#fff;background-color:#eb008b;height:20px;border-radius:4px;font-weight:400;margin-right:10px}
.header-gnb{position:relative;height:80px;background-color:#fff}
.header-gnb .inner{height:100%;width:1440px;margin:0 auto;display:flex;align-items:center;justify-content:space-between}
.header-gnb .logo{width:148px;height:31px;background:url(../images/header_logo.png) no-repeat;text-indent:-999em}
.header-gnb .logo a{display:block;height:100%}
.header-gnb .aside a{font-size:13px;color:#eb008b}
.header-gnb .aside a::after{content:'';display:inline-block;width:16px;height:16px;background:url(../images/arrow_pink.png) no-repeat;vertical-align:-3px}
.gnb-list{display:flex}
ul.gnb-list > li{position:static}
.gnb-list > li + li{margin-left:80px}
.gnb-list > li > a{font-size:18px;font-weight:500;color:#1a1d1d}
.gnb-list > li > a:hover{color:#eb008b}
.gnb-list > li.active > a{color:#eb008b}
.sub-menu-wrap{position:absolute;left:0;top:80px;width:100%;height:0;background-color:rgba(255,255,255,.4);overflow:hidden}
.gnb-list > li.active .sub-menu-wrap{height:49px;border-top:solid 1px #c1c1c1;transition:height .5s}
.sub-menu-wrap .sub-menu-list{display:flex;height:48px;width:1440px;margin:0 auto;align-items:center}
.sub-menu-wrap .sub-menu-list a{font-size:16px;color:#8e8e93}
.sub-menu-wrap .sub-menu-list li + li::before{content:'';display:inline-block;width:1px;height:16px;background-color:#bfbfbf;margin:0 30px;vertical-align:-2px}
.sub-menu-wrap .sub-menu-list li a:hover{font-weight:700;color:#1a1d1d}
.gnb-list > li.m1 .sub-menu-wrap .sub-menu-list{padding-left:382px}
.gnb-list > li.m2 .sub-menu-wrap .sub-menu-list{padding-left:382px}
.gnb-list > li.m3 .sub-menu-wrap .sub-menu-list{padding-left:607px}
.gnb-list > li.m4 .sub-menu-wrap .sub-menu-list{padding-left:684px}
.gnb-list > li.m5 .sub-menu-wrap .sub-menu-list{padding-left:596px}